html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  width: 60%;
  margin-left: auto;
  margin-right: auto; }

body {
  width: 60%; }

@media (min-width: 300px) and (max-width: 767px) {
  body {
    width: 100%; } }
@media (min-width: 768px) and (max-width: 1023px) {
  p {
    width: 80%; } }
p.p1 {
  font-family: Arial, sans-serif;
  font-size: 200%;
  font-weight: bold;
  color: #000000;
  text-align: center; }
p.p2 {
  font-family: Arial, sans-serif;
  font-size: 120%;
  color: #000000;
  text-align: center; }
p.p3 {
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #000000;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 3px;
  border-color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px; }

table {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 60%; }
  table img {
    float: left; }

div.musicnote1 img {
  float: left;
  display: flex;
  width: 80px;
  height: 80px;
  margin: auto; }

div.musicnote2 img {
  float: right;
  display: flex;
  width: 80px;
  height: 80px;
  margin: auto; }

div.notes img {
  display: flex;
  width: 100%;
  height: 106px;
  margin: auto; }

footer {
  border-top-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 80%;
  color: #ff0000;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
