@import 'reset';
@import 'body';

$black: #000000;
$red: #ff0000;
$primary-font: Arial, sans-serif;

$phone: "(min-width: 300px) and (max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body {
  width: 60%;
}

@media #{$phone} {
  body {
     width: 100%;
  }
}

@media #{$tablet} {
  p {
    width: 80%;
  }
}

p {
.p1 {
    font-family: $primary-font;
    font-size: 200%;
    font-weight: bold;
    color: $black;
    text-align: center;
  }
  
.p2
 {
     font-family: $primary-font;
     font-size: 120%;
     color: $black;
     text-align: center;
   }
   
.p3
 {
    font-family: $primary-font;
    font-size: 100%;
    color: $black;
    text-align: center;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    border-color: $black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
   }
 }

table {

	border-style: solid;
	border-width: 2px;
	border-color: $black;
	font-family: $primary-font;
	font-size: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60%;
	img {
		float: left;
	}
}

div {
	.musicnote1 {
	img {
		float: left;
		display: flex;
		width: 80;
 		height: 80px;
 		margin: auto;
 		}
 	}
}

div {
	.musicnote2 {
	img {
		float: right;
		display: flex;
		width: 80;
 		height: 80px;
 		margin: auto;
 		}
 	}
}

div {
	.notes {
	img {
		display: flex;
		width: 100%;
 		height: 106px;
 		margin: auto;
 		}
 	}
}


footer {
	 border-top-style: solid;
    	 border-width: 2px;
    	 border-color: $black;
	 font-family: $primary-font;
	 font-size: 80%;
         color: $red;
         margin-left: auto;
         margin-right: auto;
         text-align: center;
}