body			{background-image: url(images/stucco/stucco_@2X.png);
			background-repeat: repeat;
			font-family: Arial, sans-serif;}
			
nav			{text-align: right;
			background-color: #000000;
			color: #cccccc;
			font-family: Arial, sans-serif;
			font-size: 90%;
			list-style:none;
    			text-align: right;
    			margin-bottom: 0px}

nav a			{display: inline-block;
			padding-right: 40px;
			padding-top: 15px;
			padding-bottom: 15px;
			margin-bottom: 0px;}

#indexcontent		{width: 60%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;}
			
header			{font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 150%;
			text-align: left;
			margin: 0px;
			padding: 0px;}
			
#nav2			{font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 90%;
			text-align: left;
			background-color: #e6e6e6;
			border: 1px solid #cccccc;
			padding: 10px;
			margin-bottom: 15px;}
			
#nav2 a			{padding-right: 30px;
			padding-left: 10px;}
			
#paintingcontent	{background-color: #ffffff;
			border: 1px solid #cccccc;
			padding: 5px;
			font-size: 90%;}
			
#paintinginformation	{padding: 5px;
			}

#paintinginformation h3	{color: #ff0000;}
			
#paintingwishandcart	{font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 150%;
			border: 1px solid #cccccc;
			width: 45%;
			padding: 20px;
			}
			
#paintingwishandcart a {padding: 10px;
			border: 3px solid #cccccc;
			background-color: #e6e6e6;}
			
#paintingtable h3	{border-bottom: 1px solid #cccccc;}

#similartable h3	{border-bottom: 1px solid #cccccc;}

#similartable table	{text-align: center;}

#similartable		{padding-bottom: 20px;}

footer			{background-color: #000000;
			color: #b3b3b3;
			font-family: Arial, sans-serif;
			font-size: 90%;
    			text-align: center;
    			margin-bottom: 0px;
    			width: 60%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 0px;}
    			
footer p		{padding: 15px;}

#registercontent h2	{font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 150%;}
			
#registercontent	{background-color: #ffffff;
			border: 1px solid #cccccc;
			padding: 5px;
			font-size: 90%;}
			
#registercontent h3	{font-family: Arial, sans-serif;
			font-weight: bold;
			font-size: 110%;
			border-bottom: 1px solid #cccccc;}
			
#registercontent table	{width: 50%;}

#signmeup		{background-color: #66b3ff;
			border: 2px solid #cccccc;
			padding: 5px;
			width: 12%;
			margin-bottom: 15px;
			margin-top: 15px;}